<div class="sidebar">
    <div class="logo-container"> <img src="../../img/logo-menu.png" alt="Logo do Projeto" class="logo-image"> 
        <span class="logo-text">Quando Amor Você Tem Para Dar?</span>
    </div>

    <nav class="menu">
        <a href="#" class="menu-item active" data-screen-id="dashboard">
            <div class="menu-icon dashboard-icon"></div>
            Dashboard
        </a>
        <a href="#" class="menu-item" data-screen-id="lista-oficinas">
            <div class="menu-icon oficinas-icon"></div>
            Lista de Oficinas
        </a>
        <a href="#" class="menu-item" data-screen-id="historico-solicitacoes">
            <div class="menu-icon certificados-icon"></div>
            Histórico de Solicitações
        </a>
        <a href="#" class="menu-item" data-screen-id="solicitar-certificado">
            <div class="menu-icon certificado-add-icon"></div>
            Solicitar Certificado
        </a>
        <a href="#" class="menu-item" data-screen-id="perfil">
            <div class="menu-icon perfil-icon"></div>
            Meu Perfil
        </a>
    </nav>

    <div class="user-info">
        <div class="user-name" id="user-name-sidebar">Carregando...</div>
        <div class="user-role" id="user-role-sidebar">Voluntário</div>
    </div>
    <a href="#" class="logout" id="logout-btn-sidebar">Sair</a>
</div>